# Gradle
.gradle/
build/
out/
bin/
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Logs
logs/
*.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env

# OS
.DS_Store
Thumbs.db

# File Explorer
.directory
